{{ $shouldAddCheckBackPage := true }}
{{ $eventDate := partial "event-date" . }}
{{ $eventYear := $eventDate.Format "2006" }}
{{ $event := site.Data.event }}
{{ range $objectIndex, $object := sort (readDir "assets/gallery") "Name" "desc" }}
  {{ if $object.IsDir }}
    {{ $dirName := $object.Name }}
    {{ $shouldAddPage := false }}
    {{ $featureImage := "" }}

    {{ if eq $eventYear $dirName }}
      {{ $shouldAddCheckBackPage = false }}
    {{ end }}

    {{ $value := "> Have photos from this event? Share them at {{< email >}} we'd love to feature your shots.\n\n" }}
    {{ $value = print $value "{{< photoswipe >}}" }}

    {{ range $fileIndex, $file := resources.Match (printf "gallery/%s/**" $dirName) }}
      {{ if eq $file.MediaType.MainType "image" }}
        {{ if eq $fileIndex 1 }}
          {{ $featureImage = $file.Name }}
        {{ end }}
        {{ if strings.HasPrefix (path.Base $file.Name) "feature" }}
          {{ $featureImage = $file.Name }}
        {{ end }}
        {{ $shouldAddPage = true }}
        {{ $thumb := $file.Resize "x400" }}
        {{ $image := printf `{{< photo src="%s" thumb="%s" alt="NoWo %s" width="%d" height="%d" >}}` $file.RelPermalink $thumb.RelPermalink $dirName $file.Width $file.Height }}
        {{ $value = print $value $image }}
      {{ end }}
    {{ end }}

    {{ $value = print $value "{{< /photoswipe >}}" }}

    {{ $content := dict
      "mediaType" "text/markdown"
      "value" $value
    }}
    {{ $title := printf "NoWo %s Photo Gallery: European Car Show Highlights" $dirName }}
    {{ $description := printf "Browse photos from the Northern Wörthersee %s car show in Frankenmuth, Michigan. European cars, outstanding builds, and great moments from the show." $dirName }}
    {{ $params := dict
      "featureimage" $featureImage
      "images" (slice (strings.TrimLeft "/" $featureImage))
      "description" $description
    }}
    {{ $page := dict
      "content" $content
      "kind" "page"
      "path" $dirName
      "title" $title
      "description" $description
      "weight" (mul (add $objectIndex 1) 10)
      "params" $params
    }}
    {{ if $shouldAddPage }}
      {{ $.AddPage $page }}
    {{ end }}

  {{ end }}
{{ end }}
{{ if $shouldAddCheckBackPage }}

  {{ $cbValue := printf "## Gallery Coming %s\n\n" ($eventDate.Format "January 2, 2006") }}
  {{ $cbValue = print $cbValue (printf "Photos from **NoWo %s** will be posted here after the event. Check back after %s!\n\n" $eventYear ($eventDate.Format "January 2")) }}
  {{ $cbValue = print $cbValue (printf "In the meantime, [browse past years' galleries](/gallery/) or [register your vehicle](%s) for the %s show.\n\n" $event.registrationUrl $eventYear) }}
  {{ $cbValue = print $cbValue "---\n\n" }}
  {{ $cbValue = print $cbValue "### Share Your Photos\n\n" }}
  {{ $cbValue = print $cbValue (printf "Attending NoWo %s? We'd love to feature your shots in the official gallery.\n\n" $eventYear) }}
  {{ $cbValue = print $cbValue "Send your photos to {{< email >}}\n\n" }}
  {{ $cbValue = print $cbValue "{{< follow >}}" }}

  {{ $description := printf "Photos from Northern Wörthersee %s will be posted here after the event. Browse past years' galleries or register your vehicle for the show." $eventYear }}
  {{ $.AddPage (dict
    "content" (dict
      "mediaType" "text/markdown"
      "value" $cbValue)
    "path"  $eventYear
    "kind"  "page"
    "title" (printf "NoWo %s Photo Gallery: European Car Show Highlights" $eventYear)
    "description" $description
    "weight" 1
    "params" (dict
      "featureimage" "img/event.jpg"
      "images" (slice "img/event.jpg")
      "description" $description
    )
  ) }}
{{ end }}
